@model GigHub.Models.UserMessage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserMessage</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Receiver.OrginalVenue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receiver.OrginalVenue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsRead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsRead)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
